@model List<Usuario>
@{
    ViewData["Title"] = "Listagem de usuários";
}
<div class="centralizado">
    <table class="table">
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Telefone</td>
            <td>Email</td>
            <td>Login</td>
        </tr>

        @foreach (Usuario u in Model)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.Nome</td>
                <td>@u.Telefone</td>
                <td>@u.Email</td>
                <td>@u.Login</td>
                <td>
                    <a href="/Usuario/Editar?Id=@u.Id">Alterar/</a>
                    <a href="/Usuario/Excluir?Id=@u.Id" onclick="return confirm('Deseja excluir esse item?');"> Remover</a>

                </td>
            </tr>
        }

    </table>
</div>